
<!-- <a 
routerLink="/event-detail"
routerLinkActive="active" 
ariaCurrentWhenActive="page"
class="list-event-item" 
> -->
<!-- <mat-card class="event-card"> -->

 <!-- add sizing restraints so all pics are uniform size --> 
  <!-- <mat-card-header> -->
    <!-- <div mat-card-avatar class="event-header-image"></div> -->
    <!-- <mat-card-title class="event-card-title"> <h1>{{ myEvent.name }}</h1></mat-card-title>
    <mat-card-subtitle><h4>{{ myEvent.subtitle }}</h4></mat-card-subtitle> -->
  <!-- </mat-card-header> -->

  <!-- ADD A DATE PICKER FOR THIS COMPONENT !!!!!  -->
  <!-- <input matInput [matDatepicker]="picker">
  <mat-label><p> {{ myEvent.date }} </p></mat-label>
<mat-hint>MM/DD/YYYY</mat-hint>
<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker> -->
<!-- <mat-card-content> -->
    <!-- <p> {{ event.description }} </p> -->
    <!-- <img 
    mat-card-image
     [src]="myEvent.imagePath"
    [alt]="myEvent.name" -->
<!-- 
  </mat-card-content>
</mat-card>
</a>   -->


  <!-- <mat-card-actions>
    <button mat-fab extended routerLink=".">ATTEND</button>
    <button mat-fab extended routerLink="."> <mat-icon>share</mat-icon>Share</button>
    <!we will add functionality to add this to favs
    <button mat-button-raised><mat-icon>favorite</mat-icon></button> >
     <a mat-fab extended routerLink=".">
      <mat-icon>favorite</mat-icon>
   Like </a>
  </mat-card-actions> 

-->