<p>get-points works!</p>
<div class="unity-div-content-container">
    <section>
        <h1>Get Points</h1>
        <h3>View Transaction History</h3>
        <div class="div-profile-banner-row"></div>
    </section>
    <div>
        <p>Why wait to earn when you can buy more points? Plus you get extra points when you buy! It's a win win. </p>
    </div>
    <div class="div-buy-points-container">
    <div class="div-buy-points-packages">
        <div class="points-package-card"></div>
    </div>
    </div>
    <a mat-button class="buy-points">Buy Points</a>
</div>
