<div class="divLoginPageContentContainer"> 
    <div class="loginContainer">
    <form>
        <h2 class="h2Title"> Login </h2>
        <div class="divInputContainer">
            <div class="divInputContainer">
                <div class="divInputContainer">
                    <input 
                    matInput 
                    type="text" 
                    placeholder="Email address" 
                    name="email"
                    class="formInputContainer" 
                    value="">
                </div>
            </div>
            <div class="divInputContainer">
                <div class="divInputContainer">
                <input 
                matInput 
                type="password" 
                placeholder="Password" 
                name="password" 
                class="formInputContainer" 
                value="">
                </div>
            </div>
            </div>
            <div class="divInputContainer">
            <a href="resetpassword" color:red>Forgot Password?</a>
            </div>
            <div>
        <button 
        type="submit" 
        disabled="" 
        class="loginButton" 
        type="submit">
        Login
        </button>
            </div>

    </form>
</div>
</div>