<div class="reset-password-container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
      <label>
        New Password:
        <input type="password" formControlName="newPassword" required>
      </label>
      <label>
        Confirm Password:
        <input type="password" formControlName="confirmPassword" required>
      </label>
      <button type="submit" [disabled]="resetPasswordForm.invalid || loading">Reset Password</button>
      <div *ngIf="loading" class="loading-spinner"></div>
    </form>
    <div *ngIf="success" class="success-message">
      Password reset successful!
    </div>
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>
  </div>
  
<!-- <div class="divLoginPageContentContainer">
    <div class="loginContainer">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <h2 class="h2Title"> Reset Password </h2>
        <div class="divInputContainer">
          <div class="divInputContainer">
            <div class="divInputContainer">
              <input formControlName="email" matInput type="email" placeholder="Email address" name="email" class="formInputContainer">
              <mat-error *ngIf="formControls.email.errors && (formControls.email.dirty || formControls.email.touched)">
                <span *ngIf="formControls.email.errors.required">Email is required</span>
                <span *ngIf="formControls.email.errors.email">Please enter a valid email address</span>
              </mat-error>
            </div>
          </div>
          <div class="divInputContainer">
            <div class="divInputContainer">
              <input formControlName="newPassword" matInput type="password" placeholder="New Password" name="newPassword" class="formInputContainer">
              <mat-error *ngIf="formControls.newPassword.errors && (formControls.newPassword.dirty || formControls.newPassword.touched)">
                <span *ngIf="formControls.newPassword.errors.required">Password is required</span>
                <span *ngIf="formControls.newPassword.errors.minlength">Password should be at least 8 characters long</span>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="divInputContainer">
          <a routerLink="/signup" color="red">Don't have an account? Signup!</a>
        </div>
        <div>
          <button type="submit" [disabled]="!resetPasswordForm.valid" class="loginButton" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
   -->
  
  
<!-- <div class="divLoginPageContentContainer"> 
    <div class="loginContainer">
    <form>
        <h2 class="h2Title"> Reset Password </h2>
        <div class="divInputContainer">
            <div class="divInputContainer">
                <div class="divInputContainer">
                    <input matInput type="text" placeholder="Email address" name="email" class="formInputContainer" value="">
                </div>
            </div>
            <div class="divInputContainer">
                <div class="divInputContainer">
                <input matInput type="password" placeholder="New Password" name="new password" class="formInputContainer" value="">
                </div>
            </div>
            </div>
            <div class="divInputContainer">
            <a href="signup" color:red>Don't have an account? Signup!</a>
            </div>
            <div>
        <button type="submit" disabled="" class="loginButton" type="submit">Login</button>
            </div>
    </form>
</div>
</div> -->
